{% extends "EkynaAdminBundle:Entity:layout.html.twig" %}

{% block title %}
    <h1>{{ 'ekyna_commerce.order_invoice.label.plural'|trans|raw }}</h1>
{% endblock title %}

{% block actions %}{% endblock actions %}

{% block main %}
    {{ ekyna_table_render(invoices) }}
{% endblock main %}
