{% extends '@EkynaAdmin/Entity/layout.html.twig' %}

{% block page_title %}{{ 'invoice.label.plural'|trans({}, 'EkynaCommerce')|raw }}{% endblock page_title %}

{% block title %}
    <h1>{{ 'invoice.label.plural'|trans({}, 'EkynaCommerce')|raw }}</h1>
{% endblock title %}

{% block actions %}{% endblock actions %}

{% block main %}
    {{ ekyna_table_render(resources) }}
{% endblock main %}
