<form class="form-horizontal commerce-pick-relay-point" onsubmit="return false;">
    <div class="rp-result">
        <div class="rp-list-wrap">
            <div class="rp-list"></div>
        </div>
        <div class="rp-map">
            <span class="fa fa-map-marker"></span>
        </div>
    </div>
    <div class="rp-form">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group form-group-sm">
                    <label for="rp_street" class="col-md-2 control-label required">Rue</label>
                    <div class="col-md-10">
                        <input name="street" type="text" class="form-control" id="rp_street" placeholder="Rue" required>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-group-sm">
                    <label for="rp_postal_code" class="col-md-6 control-label required">Code postal</label>
                    <div class="col-md-6">
                        <input name="postalCode" type="text" class="form-control" id="rp_postal_code" placeholder="Code postal" required>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label for="rp_city" class="col-md-2 control-label required">Ville</label>
                    <div class="col-md-10">
                        <input name="city" type="text" class="form-control" id="rp_city" placeholder="Ville" required>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
