<div class="panel-footer">
    <p class="text-center">
    {%- if ticket.state == 'closed' -%}
        <button type="button" class="btn btn-sm btn-warning ticket-open">
            <i class="fa fa-check"></i>&nbsp;{{ trans.open }}
        </button>
    {%- else -%}
        <button type="button" class="btn btn-sm btn-primary ticket-close">
            <i class="fa fa-close"></i>&nbsp;{{ trans.close }}
        </button>
        {% if ticket.message -%}
        <button type="button" class="btn btn-sm btn-success message-new">
            <i class="fa fa-comment"></i>&nbsp;{{ trans.answer }}
        </button>
        {%- endif %}
    {%- endif -%}
    </p>
</div>
