{% extends "EkynaAdminBundle:Entity/Default:edit.html.twig" %}

{% block title %}
    <h1>{{ ('ekyna_commerce.' ~ (_context[resource_name].return ? 'return' : 'shipment') ~ '.header.edit')|trans|raw }}</h1>
{% endblock title %}

{% block actions %}
    {#{{ admin_resource_btn(resource, 'list') }}#}
    {#{{ admin_resource_btn(resource, 'new') }}#}
{% endblock actions %}
