{% extends '@EkynaAdmin/base.xml.twig' %}

{% block response %}
{% apply spaceless %}
<form>
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    <![CDATA[{{ form_widget(form.gatewayData) }}]]>
</form>
{% endapply %}
{% endblock response %}
