<!doctype html>
<html lang="fr">
<head>
    <title>ZPL/EPL labels</title>
</head>
<body>
{% for label in labels %}
<code id="label-{{ loop.index0 }}" type="{{ label.format }}">{{- label|shipment_label_content -}}</code>
{% endfor %}
</body>
</html>
