{% apply spaceless %}
<div>
    <dl class="dl-horizontal">
        <dt>{{ 'field.description'|trans({}, 'EkynaCommerce') }}</dt>
        <dd>{{ description|nl2br|raw }}</dd>
    </dl>
</div>
{% endapply %}
