{% extends '@EkynaAdmin/Entity/Crud/_form_default.html.twig' %}

{% block main_contents -%}
    <div class="tab-pane active" id="{{ resource_name }}-general">
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.name, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.code, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>
        {{ form_row(form.enabled) }}
    </div>
{%- endblock main_contents %}
