{% extends '@EkynaAdmin/Entity/Default/edit.html.twig' %}

{% block title %}
    <h1>{{ 'ekyna_commerce.cart.header.duplicate'|trans({
        '%number%': cart.number,
        '%target%': ('ekyna_commerce.' ~ target ~ '.label.singular')|trans|lower
    })|raw }}</h1>
{% endblock title %}

{% block main %}
    {{ form_start(form) }}
    {% include ('@EkynaCommerce/Admin/' ~ target|capitalize ~ '/_form.html.twig') %}
    {{ form_end(form) }}
{% endblock main %}
