{% extends "EkynaAdminBundle:Entity/Default:edit.html.twig" %}

{% block title %}
    <h1>{{ 'ekyna_commerce.stock_unit.header.edit'|trans }}</h1>
{% endblock title %}

{% block actions %}{% endblock actions %}
