{% extends "EkynaAdminBundle:Entity/Default:remove.html.twig" %}

{% block title %}
    <h1>{{ 'ekyna_commerce.stock_unit.header.new'|trans }}</h1>
{% endblock title %}

{% block actions %}{% endblock actions %}
