ekyna_commerce_customer_admin_home:
    path: ""
    defaults: { _controller: "ekyna_commerce.customer.controller:homeAction" }
    methods: [GET]

ekyna_commerce_customer_admin_list:
    path: /list
    defaults: { _controller: "ekyna_commerce.customer.controller:listAction" }
    methods: [GET|POST]

ekyna_commerce_customer_admin_new:
    path: /new
    defaults: { _controller: "ekyna_commerce.customer.controller:newAction" }
    methods: [GET|POST]

ekyna_commerce_customer_admin_show:
    path: /{customerId}/show
    defaults: { _controller: "ekyna_commerce.customer.controller:showAction" }
    methods: [GET]
    requirements:
        customerId: \d+

ekyna_commerce_customer_admin_edit:
    path: /{customerId}/edit
    defaults: { _controller: "ekyna_commerce.customer.controller:editAction" }
    methods: [GET|POST]
    requirements:
        customerId: \d+

ekyna_commerce_customer_admin_remove:
    path: /{customerId}/remove
    defaults: { _controller: "ekyna_commerce.customer.controller:removeAction" }
    methods: [GET|POST]
    requirements:
        customerId: \d+

ekyna_commerce_customer_address_admin:
    resource: customer_address.yml
    prefix: /{customerId}/addresses
