ekyna_commerce_order_payment_admin_new:
    path: /new
    defaults: { _controller: "ekyna_commerce.order_payment.controller:newAction" }
    methods: [GET|POST]
    requirements:
        orderId: \d+

ekyna_commerce_order_payment_admin_edit:
    path: /{orderPaymentId}/edit
    defaults: { _controller: "ekyna_commerce.order_payment.controller:editAction" }
    methods: [GET|POST]
    requirements:
        orderId: \d+
        orderPaymentId: \d+

ekyna_commerce_order_payment_admin_remove:
    path: /{orderPaymentId}/remove
    defaults: { _controller: "ekyna_commerce.order_payment.controller:removeAction" }
    methods: [GET|POST]
    requirements:
        orderId: \d+
        orderPaymentId: \d+
