ekyna_commerce_payment_method_admin_home:
    path: ""
    defaults: { _controller: "ekyna_commerce.payment_method.controller:homeAction" }
    methods: [GET]

ekyna_commerce_payment_method_admin_list:
    path: /list
    defaults: { _controller: "ekyna_commerce.payment_method.controller:listAction" }
    methods: [GET|POST]

ekyna_commerce_payment_method_admin_new:
    path: /new
    defaults: { _controller: "ekyna_commerce.payment_method.controller:newAction" }
    methods: [GET|POST]

ekyna_commerce_payment_method_admin_show:
    path: /{paymentMethodId}/show
    defaults: { _controller: "ekyna_commerce.payment_method.controller:showAction" }
    methods: [GET]
    requirements:
        paymentMethodId: \d+

ekyna_commerce_payment_method_admin_edit:
    path: /{paymentMethodId}/edit
    defaults: { _controller: "ekyna_commerce.payment_method.controller:editAction" }
    methods: [GET|POST]
    requirements:
        paymentMethodId: \d+

ekyna_commerce_payment_method_admin_tinymce:
    path: /{paymentMethodId}/tinymce
    defaults: { _controller: "ekyna_commerce.payment_method.controller:tinymceAction", field: description }
    methods: [GET]
    requirements:
        paymentMethodId: \d+
        field: "[a-zA-Z0-9]+"

ekyna_commerce_payment_method_admin_move_up:
    path: /{paymentMethodId}/moveup
    defaults: { _controller: "ekyna_commerce.payment_method.controller:moveUpAction" }
    methods: [GET]
    requirements:
        paymentMethodId: \d+

ekyna_commerce_payment_method_admin_move_down:
    path: /{paymentMethodId}/movedown
    defaults: { _controller: "ekyna_commerce.payment_method.controller:moveDownAction" }
    methods: [GET]
    requirements:
        paymentMethodId: \d+

ekyna_commerce_payment_method_admin_toggle:
    path: /{paymentMethodId}/toggle/{field}
    defaults: { _controller: "ekyna_commerce.payment_method.controller:toggleAction", field: enabled }
    methods: [GET]
    requirements:
        paymentMethodId: \d+
        field: \w+

ekyna_commerce_payment_method_admin_remove:
    path: /{paymentMethodId}/remove
    defaults: { _controller: "ekyna_commerce.payment_method.controller:removeAction" }
    methods: [GET|POST]
    requirements:
        paymentMethodId: \d+
