ekyna_commerce_quote_admin_home:
    path: ""
    defaults: { _controller: "ekyna_commerce.quote.controller:homeAction" }
    methods: [GET]

ekyna_commerce_quote_admin_list:
    path: /list
    defaults: { _controller: "ekyna_commerce.quote.controller:listAction" }
    methods: [GET|POST]

ekyna_commerce_quote_admin_new:
    path: /new
    defaults: { _controller: "ekyna_commerce.quote.controller:newAction" }
    methods: [GET|POST]

ekyna_commerce_quote_admin_show:
    path: /{quoteId}/show
    defaults: { _controller: "ekyna_commerce.quote.controller:showAction" }
    methods: [GET]
    requirements:
        quoteId: \d+

ekyna_commerce_quote_admin_edit:
    path: /{quoteId}/edit
    defaults: { _controller: "ekyna_commerce.quote.controller:editAction" }
    methods: [GET|POST]
    requirements:
        quoteId: \d+

#ekyna_commerce_quote_admin_toggle:
#    path: /{quoteId}/toggle/{field}
#    defaults: { _controller: "ekyna_commerce.quote.controller:toggleAction", field: enabled }
#    methods: [GET]
#    requirements:
#        quoteId: \d+
#        field: \w+

ekyna_commerce_quote_admin_remove:
    path: /{quoteId}/remove
    defaults: { _controller: "ekyna_commerce.quote.controller:removeAction" }
    methods: [GET|POST]
    requirements:
        quoteId: \d+

ekyna_commerce_quote_admin_refresh:
    path: /{quoteId}/refresh
    defaults: { _controller: "ekyna_commerce.quote.controller:refreshAction" }
    methods: [GET]
    requirements:
        quoteId: \d+

ekyna_commerce_quote_admin_recalculate:
    path: /{quoteId}/recalculate
    defaults: { _controller: "ekyna_commerce.quote.controller:recalculateAction" }
    methods: [POST]
    requirements:
        quoteId: \d+

ekyna_commerce_quote_admin_item:
    resource: quote_item.yml
    prefix: /{quoteId}/items

ekyna_commerce_quote_admin_adjustment:
    resource: quote_adjustment.yml
    prefix: /{quoteId}/adjustments

ekyna_commerce_quote_admin_payment:
    resource: quote_payment.yml
    prefix: /{quoteId}/payments
