ekyna_commerce_quote_item_admin_add:
    path: /add
    defaults: { _controller: "ekyna_commerce.quote_item.controller:addAction" }
    methods: [GET|POST]
    requirements:
        quoteId: \d+

ekyna_commerce_quote_item_admin_new:
    path: /new
    defaults: { _controller: "ekyna_commerce.quote_item.controller:newAction" }
    methods: [GET|POST]
    requirements:
        quoteId: \d+

ekyna_commerce_quote_item_admin_configure:
    path: /{quoteItemId}/configure
    defaults: { _controller: "ekyna_commerce.quote_item.controller:configureAction" }
    methods: [GET|POST]
    requirements:
        quoteId: \d+
        quoteItemId: \d+

ekyna_commerce_quote_item_admin_edit:
    path: /{quoteItemId}/edit
    defaults: { _controller: "ekyna_commerce.quote_item.controller:editAction" }
    methods: [GET|POST]
    requirements:
        quoteId: \d+
        quoteItemId: \d+

ekyna_commerce_quote_item_admin_remove:
    path: /{quoteItemId}/remove
    defaults: { _controller: "ekyna_commerce.quote_item.controller:removeAction" }
    methods: [GET|POST]
    requirements:
        quoteId: \d+
        quoteItemId: \d+
