ekyna_commerce_supplier_order_admin_home:
    path: ""
    defaults: { _controller: "ekyna_commerce.supplier_order.controller:homeAction" }
    methods: [GET]

ekyna_commerce_supplier_order_admin_list:
    path: /list
    defaults: { _controller: "ekyna_commerce.supplier_order.controller:listAction" }
    methods: [GET|POST]

ekyna_commerce_supplier_order_admin_new:
    path: /new
    defaults: { _controller: "ekyna_commerce.supplier_order.controller:newAction" }
    methods: [GET|POST]

ekyna_commerce_supplier_order_admin_show:
    path: /{supplierOrderId}/show
    defaults: { _controller: "ekyna_commerce.supplier_order.controller:showAction" }
    methods: [GET]
    requirements:
        supplierOrderId: \d+

ekyna_commerce_supplier_order_admin_edit:
    path: /{supplierOrderId}/edit
    defaults: { _controller: "ekyna_commerce.supplier_order.controller:editAction" }
    methods: [GET|POST]
    requirements:
        supplierOrderId: \d+

ekyna_commerce_supplier_order_admin_remove:
    path: /{supplierOrderId}/remove
    defaults: { _controller: "ekyna_commerce.supplier_order.controller:removeAction" }
    methods: [GET|POST]
    requirements:
        supplierOrderId: \d+

ekyna_commerce_supplier_order_admin_submit:
    path: /{supplierOrderId}/submit
    defaults: { _controller: "ekyna_commerce.supplier_order.controller:submitAction" }
    methods: [GET|POST]
    requirements:
        supplierOrderId: \d+

ekyna_commerce_supplier_delivery_admin:
    resource: supplier_delivery.yml
    prefix: /{supplierOrderId}/deliveries
