ekyna_commerce_supplier_admin_home:
    path: ""
    defaults: { _controller: "ekyna_commerce.supplier.controller:homeAction" }
    methods: [GET]

ekyna_commerce_supplier_admin_list:
    path: /list
    defaults: { _controller: "ekyna_commerce.supplier.controller:listAction" }
    methods: [GET|POST]

ekyna_commerce_supplier_admin_new:
    path: /new
    defaults: { _controller: "ekyna_commerce.supplier.controller:newAction" }
    methods: [GET|POST]

ekyna_commerce_supplier_admin_show:
    path: /{supplierId}/show
    defaults: { _controller: "ekyna_commerce.supplier.controller:showAction" }
    methods: [GET]
    requirements:
        supplierId: \d+

ekyna_commerce_supplier_admin_edit:
    path: /{supplierId}/edit
    defaults: { _controller: "ekyna_commerce.supplier.controller:editAction" }
    methods: [GET|POST]
    requirements:
        supplierId: \d+

ekyna_commerce_supplier_admin_remove:
    path: /{supplierId}/remove
    defaults: { _controller: "ekyna_commerce.supplier.controller:removeAction" }
    methods: [GET|POST]
    requirements:
        supplierId: \d+

# Supplier product
ekyna_commerce_supplier_admin_product:
    resource: supplier_product.yml
    prefix: /{supplierId}/products

ekyna_commerce_supplier_product_admin_search:
    path: /search
    defaults: { _controller: "ekyna_commerce.supplier_product.controller:searchAction" }
    methods: [GET]
    options:
        expose: true

ekyna_commerce_supplier_product_admin_find:
    path: /find
    defaults: { _controller: "ekyna_commerce.supplier_product.controller:findAction" }
    methods: [GET]
    options:
        expose: true
