{% extends "EkynaAdminBundle:Entity/Default:edit.html.twig" %}

{% block title %}
    <h1>{{ 'ekyna_commerce.payment.header.edit'|trans|raw }}</h1>
{% endblock title %}

{% block actions %}
    {#{{ admin_resource_btn(resource, 'list') }}#}
    {#{{ admin_resource_btn(resource, 'new') }}#}
{% endblock actions %}

{% block side %}
    {{ parent() }}
    {% if resource.sale is not null %}
        {% include "EkynaCommerceBundle:Admin/Common/Sale/Side:sale_payment.html.twig" with {'sale': resource.sale} %}
    {% endif %}
{% endblock side %}
