{% extends '@EkynaAdmin/Entity/Crud/update.html.twig' %}

{% block title %}
    <h1>{{ 'payment.header.edit'|trans({}, 'EkynaCommerce')|raw }}</h1>
{% endblock title %}

{% block actions %}{% endblock actions %}

{% block side %}
    {{ parent() }}
    {% if resource.sale is not null %}
        {% include '@EkynaCommerce/Admin/Common/Sale/Side/sale.html.twig' with {'sale': resource.sale} %}
    {% endif %}
{% endblock side %}
