{% extends '@EkynaCommerce/Account/layout.html.twig' %}

{% block account %}
{% spaceless %}
    <h3>{{ 'ekyna_commerce.newsletter.title'|trans|raw }}</h3>
    <hr>
    {{ newsletter_customer_subscription({'customer': customer}) }}
{% endspaceless %}
{% endblock account %}
