{% extends '@EkynaCommerce/Account/layout.html.twig' %}

{% block account %}
{% apply spaceless %}
    <h3>{{ 'newsletter.title'|trans({}, 'EkynaCommerce')|raw }}</h3>
    <hr>
    {{ newsletter_customer_subscription({'customer': customer}) }}
{% endapply %}
{% endblock account %}
