{% extends '@EkynaAdmin/Entity/Crud/_form_default.html.twig' %}

{% block main_contents -%}
    <div class="tab-pane active" id="address-general">
        {{ form_widget(form) }}
    </div>
{%- endblock main_contents %}
