{% extends '@EkynaCommerce/Account/layout.html.twig' %}

{% block account %}
    {% apply spaceless %}
        <h3>{{ 'account.invoice.title'|trans({}, 'EkynaCommerce')|raw }}</h3>
        <hr>
        {% include '@EkynaCommerce/Account/Invoice/_list.html.twig' with {
            'customer': customer,
            'invoices': invoices
        } only %}
    {% endapply %}
{% endblock account %}
