{% import "EkynaCommerceBundle:Admin/Dashboard:_macro.html.twig" as macros %}

{% spaceless %}
<div class="commerce-panel">
    <h3>
        {{ 'ekyna_commerce.dashboard.stat.title.stock'|trans }} <span>
        {% if current is null %}
            (?)
        {% else %}
            {{ current.inValue|localizedcurrency(commerce_default_currency) }}
        {% endif %}
        </span>
    </h3>
</div>
{{ macros.render_stat_chart('stock_values', stock_chart) }}
{% endspaceless %}
