{% spaceless %}
<div class="row">
    <div class="col-md-4">
        <div class="commerce-accounting">
            <div class="commerce-panel">
                <h3>{{ 'ekyna_commerce.dashboard.accounting.export'|trans }}</h3>
                {{ form(form, { 'style': 'inline' }) }}
            </div>
        </div>
    </div>
</div>
{% endspaceless %}
