{%- if form.birthday is defined or form.newsletter is defined -%}
<div class="commerce-customer-marketing">
    <div class="row">
        <div class="col-md-12">
            <p class="commerce-customer-engage">{{ 'ekyna_commerce.account.marketing.engage'|trans|raw }}</p>
        </div>
        {%- if form.birthday is defined -%}
            <div class="col-md-6">
                {{- form_row(form.birthday, {'label_col': 4, 'widget_col': 8}) -}}
            </div>
        {%- endif -%}
        {%- if form.newsletter is defined -%}
            <div class="col-md-6">
                {{- form_row(form.newsletter, {'label_col': 4, 'widget_col': 8}) -}}
            </div>
        {%- endif -%}
    </div>
</div>
{%- endif -%}
