.cart-checkout {

    .sale-view {
        padding: 0;
    }

    .cart-checkout-view {

    }

    h3 {
        > span {
            color: red;
        }
    }

    .cart-checkout-customer {
        padding: 20px 0;
        background-color: #e6e6e6;
    }

    .cart-checkout-forms {
        margin-bottom: 20px;
    }

    .cart-checkout-submit {
        margin-bottom: 20px;

        .cart-checkout-quote {
            margin-left: 20px;
        }
    }

    .cart-checkout-attachments {
        > table {
            margin: 0;

            > tbody {
                > tr {
                    &:first-child {
                        > td {
                            border-top: none;
                        }
                    }
                }
            }
        }
    }
}
