@font-size: 14px;
@line-height: 18px;
@text-color: #333333;
@head-color: #999999;
@border-color: #dddddd;
@background-alt-color: #f2f2f2;
@margin: 30px;
@width: 972px; //@width: 1032px;
@height: 1393px; //@height: 1459px;

html,
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: @font-size;
    line-height: @line-height;
    color: @text-color;
}

.wrapper {
    position: relative;
    max-width: 1200px;
    margin: auto;
}

a {
    color: @text-color;
    text-decoration: none;
}

h1 {
    padding: 0;
    margin: 0 0 20px 0;
    font-variant: small-caps;
    font-weight: normal;
    color: @head-color;
    font-size: @font-size * 2.2;
    line-height: @font-size * 2.2;
}

.text-right {
    text-align: right !important;
}

.text-alt {
    color: @head-color;
}

table {
    border-collapse: collapse;
    border-spacing: 3px;
    width: 100%;
}

.bloc {
    margin-bottom: @margin;
    width: 100%;

    &:last-child {
        margin-bottom: 0;
    }
}

table.header {
    width: 100%;
    border-bottom: 1px dotted @border-color;

    td.logo {
        width: 25%;
        max-width: 25%;
        vertical-align: middle;

        > a {
            display: block;

            > img {
                height: auto;
                max-width: 100%;
            }
        }
    }

    td.address {
        width: 40%;
        max-width: 40%;
        vertical-align: top;
    }
}

.title {
}

.footer {
    border-top: 1px dotted @border-color;
    margin-top: @margin;
    text-align: center;
}

.table {
    width: 100%;

    thead {
        th {
            text-transform: uppercase;
            color: @head-color;
            padding: 0 8px;
            position: relative;
            text-align: left;
            font-size: @font-size - 1;
            line-height: 21px !important;
            border-bottom: 1px solid @border-color;

            &:before {
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                height: 7px;
                width: 1px;
                border-left: 1px solid @border-color;
                content: "";
            }

            &:last-child:after {
                position: absolute;
                display: block;
                bottom: 0;
                right: 0;
                height: 7px;
                width: 1px;
                border-right: 1px solid @border-color;
                content: "";
            }

            &.blank {
                border-bottom: 0;
            }
        }
    }

    tbody {
        td {
            padding: 5px 8px;
            line-height: 18px;
            vertical-align: top;
        }

        &.spacer {
            td, th {
                font-size: 50%;
                line-height: 50%;
            }
        }

        &.stripped {
            > tr:nth-child(even) > td {
                background: @background-alt-color;
            }
        }

        &.address {
            width: 42%;
            max-width: 42%;
            padding-top: 10px;
            line-height: 20px;
        }

        &.totals {
            th {
                text-transform: uppercase;
                color: @head-color;
                font-size: @font-size - 1;
                text-align: left;
                word-break: keep-all;
                white-space: nowrap;
            }

            td.total {
                font-size: @font-size;

                &.final {
                    font-weight: bold;
                    font-size: @font-size + 1;
                    background-color: @background-alt-color;
                }
            }
        }
    }

    &.details {
        tr {
            > td {
                &.designation {
                    max-width: 300px;
                }

                > a,
                > span {
                    display: inline-block;
                    max-width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 16px;
                }

                > a {
                    border-bottom: 1px dotted @head-color;
                }

                > p.description {
                    margin: 0;
                    padding: 0 0 0 12px;
                    font-size: @font-size - 2;
                    color: lighten(@text-color, 20%);
                    max-width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &.virtual {
                > td {
                    color: lighten(@text-color, 25%);

                    > a {
                        color: lighten(@text-color, 25%);
                    }

                    > p.description {
                        color: lighten(@text-color, 30%);
                    }
                }
            }

            &:last-child {
                td {
                    border-bottom: @border-color;
                }
            }
        }
    }

    &.taxes {
        width: 20%;

        tbody {
            th {
                font-weight: bold;
            }
        }
    }
}

@media print {
    html,
    body {
        margin: 0;
        padding: 0;
        text-rendering: optimizeLegibility;
    }

    .page-break {
        margin: 0;
        padding: 0;
        border: none;
        page-break-after: always;
    }

    .wrapper {
        page-break-after: always;
        box-sizing: border-box;
        width: @width;
        height: @height;
        //overflow: hidden;
        //background: mistyrose;
    }

    .footer {
        position: absolute;
        margin: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .unbreakable {
        page-break-inside: avoid;
    }

    hr {
        display: none;
    }
}
