@font-size: 10px;
@line-height: 12px;
@text-color: #333333;
@head-color: #999999;
@border-color: #dddddd;
@background-alt-color: #f2f2f2;

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Open sans", Arial, sans-serif;
    font-size: @font-size;
    line-height: @line-height;
    color: @text-color;
}

#layout {
    max-width: 800px;
    margin: auto;
}

@media print {
    html,
    body {
        text-rendering: optimizeLegibility;
    }

    #layout {
        width: 100%;
        margin: 0;
    }
}

// -------------------- TYPOGRAPHY --------------------

a {
    color: @text-color;
    text-decoration: none;
}

.text-right {
    text-align: right !important;
}

.text-alt {
    color: @head-color;
}

p {
    margin: 0 0 10px 0;
}

.address > p {
    margin: 0;
}

// -------------------- HEADER --------------------

header, .header-space {
    height: 115px;
}

.header-space {
    padding-bottom: 10px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px dotted @border-color;

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

#logo {
    a {
        display: block;
    }

    img {
        height: 70px;
        width: auto;
    }
}

h1 {
    padding: 0;
    margin: 10px 0 0;
    font-variant: small-caps;
    font-weight: normal;
    color: @head-color;
    font-size: @font-size * 2.2;
    line-height: @font-size * 2.2;
}

// -------------------- FOOTER --------------------

footer, .footer-space {
    height: 50px;
}

.footer-space {
    padding-top: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    border-top: 1px dotted @border-color;
    text-align: center;

    > p:first-child {
        margin-top: 10px;
    }
}

// -------------------- CONTENT --------------------
.content {

}

.content > hr {
    display: none;
}

.avoid-break {
    page-break-inside: avoid;
}

.bloc + .bloc {
    margin-top: 20px;
}

.addresses {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    > div {
        min-width: 36%;
    }

    &:has(> div:nth-child(3)) {
        > div {
            min-width: 28%;
        }
    }

    &:has(> div:nth-child(4)) {
        > div {
            min-width: 20%;
        }
    }
}

// Titles

h2 {
    padding: 0;
    margin: 0 0 10px 0;
    font-variant: small-caps;
    font-weight: normal;
    color: @head-color;
    font-size: @font-size * 1.5;
    line-height: @font-size * 1.5;
}

.addresses h2,
.table > thead > tr > th {
    text-transform: uppercase;
    color: @head-color;
    padding: 0 8px;
    position: relative;
    text-align: left;
    font-size: @font-size - 1;
    font-weight: bold;
    line-height: 18px !important;
    border-bottom: 1px solid @border-color;

    &:before {
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        height: 7px;
        width: 1px;
        border-left: 1px solid @border-color;
        content: "";
    }

    &.blank {
        border-bottom: 0;
    }
}

.addresses h2:after {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    height: 7px;
    width: 1px;
    border-right: 1px solid @border-color;
    content: "";
}

.table > thead > tr > th:last-child:after {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    height: 7px;
    width: 1px;
    border-right: 1px solid @border-color;
    content: "";
}

.table {
    border-collapse: collapse;
    width: 100%;

    > tbody {
        page-break-inside: avoid;

        th, td {
            padding: 4px 4px;
            vertical-align: top;
        }

        &.spacer {
            th, td {
                font-size: 50%;
                line-height: 50%;
            }
        }

        &.stripped {
            > tr:nth-child(even) > td {
                background: @background-alt-color;
            }
        }

        &.totals {
            th {
                text-transform: uppercase;
                color: @head-color;
                font-size: @font-size - 1;
                text-align: left;
                word-break: keep-all;
                white-space: nowrap;
            }

            td.total {
                font-size: @font-size;

                &.final {
                    font-weight: bold;
                    font-size: @font-size + 1;
                    background-color: @background-alt-color;
                }
            }
        }
    }

    &.details {
        > tbody.group:nth-child(even) > tr > td {
            background: @background-alt-color;
        }

        tr {
            > td {
                &.designation {
                    max-width: 300px;
                }

                > a,
                > span {
                    display: inline-block;
                    max-width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                > a {
                    border-bottom: 1px dotted @head-color;
                }

                > p.description {
                    margin: 0;
                    padding: 0 0 0 12px;
                    font-size: @font-size - 2;
                    color: lighten(@text-color, 20%);
                    max-width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &.virtual {
                > td {
                    color: lighten(@text-color, 25%);

                    > a {
                        color: lighten(@text-color, 25%);
                    }

                    > p.description {
                        color: lighten(@text-color, 30%);
                    }
                }
            }

            &:last-child {
                td {
                    border-bottom: @border-color;
                }
            }
        }
    }

    &.taxes {
        width: 20%;

        tbody {
            th {
                font-weight: bold;
            }
        }
    }
}
