@font-size: 14px;
@text-color: #333333;
@head-color: #999999;
@border-color: #dddddd;
@background-alt-color: #f2f2f2;

.wrapper {
    font-family: Herlvetica, Arial, sans-serif;
    font-size: @font-size;
    line-height: 21px;
    color: @text-color;
    max-width: 1200px;
    margin: auto;
}

h1 {
    font-variant: small-caps;
    font-weight: normal;
    color: @head-color;
    font-size: @font-size * 2.2;
}

.text-right {
    text-align: right !important;
}

table {
    border-collapse: collapse;
    border-spacing: 3px;
    width: 100%;
}

.bloc {
    margin-bottom: 40px;
    width: 100%;

    &:last-child {
        margin-bottom: 0;
    }
}

table.header {
    width: 100%;

    td.logo {
        width: 25%;
        max-width: 25%;
        vertical-align: middle;

        > a {
            display: block;

            > img {
                height: auto;
                max-width: 100%;
            }
        }
    }

    td.address {
        width: 40%;
        max-width: 40%;
        vertical-align: top;
    }
}

.title {
    border-top: 1px dotted @border-color;
}

.footer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dotted @border-color;
}

.table {
    width: 100%;

    thead {
        th {
            text-transform: uppercase;
            color: @head-color;
            padding: 0 8px;
            position: relative;
            text-align: left;
            font-size: @font-size - 1;
            line-height: 21px !important;
            border-bottom: 1px solid @border-color;

            &:before {
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                height: 7px;
                width: 1px;
                border-left: 1px solid @border-color;
                content: "";
            }

            &:last-child:after {
                position: absolute;
                display: block;
                bottom: 0;
                right: 0;
                height: 7px;
                width: 1px;
                border-right: 1px solid @border-color;
                content: "";
            }

            &.blank {
                border-bottom: 0;
            }
        }
    }

    tbody {
        td {
            padding: 5px 8px;
            line-height: 18px;
            vertical-align: top;
        }

        &.spacer {
            td, th {
                font-size: 50%;
                line-height: 50%;
            }
        }

        &.stripped {
            > tr:nth-child(even) > td {
                background: @background-alt-color;
            }
        }

        &.address {
            width: 42%;
            max-width: 42%;
            padding-top: 10px;
            line-height: 20px;
        }

        &.totals {
            th {
                text-transform: uppercase;
                color: @head-color;
                font-size: @font-size - 1;
                text-align: left;
            }

            td.total {
                font-size: @font-size;

                &.final {
                    font-weight: bold;
                    font-size: @font-size + 1;
                    background-color: @background-alt-color;
                }
            }
        }
    }

    &.details {
        tr:last-child {
            td {
                border-bottom: @border-color;
            }
        }

        p.description {
            margin: 0;
            padding: 0 0 0 12px;
            font-size: @font-size - 2;
            color: lighten(@text-color, 20%);
        }
    }

    &.taxes {
        width: 20%;

        tbody {
            th {
                font-weight: bold;
            }
        }
    }
}

@media print {
    hr {
        height: 1px;
        border: none;
        margin: 0;
        padding: 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: auto;
        -webkit-margin-end: auto;
        page-break-before:always;
    }
}
