@base-cell-padding: 8px;
@text-color: #526273;

@spinkit-size: 120px;
@spinkit-spinner-color: #fff;

.sale-view {
    position: relative;
    padding: 30px 0;

    .sale-detail-loading {
        position: absolute;
        z-index: 9999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .25);
        display: none;

        > div {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -@spinkit-size/2;
            margin-left: -@spinkit-size/2;
        }
    }

    &.loading .sale-detail-loading {
        display: block;
    }

    .sale-detail {
        width: 100%;

        & > tbody + tbody {
            border-top: 1px solid #ddd;
        }

        th, td {
            white-space: nowrap;
        }

        .sale-detail-number {
            color: lighten(@text-color, 30%);
        }

        .sale-detail-gross {
            color: darken(@text-color, 30%);
            font-weight: normal;
        }

        .sale-detail-total {
            color: darken(@text-color, 30%);
            font-weight: 700;
        }

        tbody {
            tr {
                background-color: transparent;

                &:nth-of-type(even) {
                    background-color: #f9f9f9;
                }

                &.level-0 {
                    .sale-detail-designation {
                        padding-left: @base-cell-padding;
                    }
                }

                &.level-1 {
                    .sale-detail-designation {
                        padding-left: @base-cell-padding + 16px;
                    }

                }

                &.level-2 {
                    .sale-detail-designation {
                        padding-left: @base-cell-padding + 32px;
                    }
                }

                &.level-3 {
                    .sale-detail-designation {
                        padding-left: @base-cell-padding + 48px;
                    }
                }

                &.sale-detail-spacer {
                    background-color: transparent;
                    td {
                        font-size: 0;
                        line-height: 0;

                    }
                }
            }

            .sale-detail-node.level-0 td {
                color: lighten(@text-color, 30%);
            }

            .sale-detail-actions {
                text-align: right;

                > a {
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    line-height: 18px;
                    text-align: center;
                    margin-right: 2px;
                    color: lighten(@text-color, 30%);

                    &:hover {
                        color: @text-color;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .sale-detail-totals th {
                font-weight: 700;
                position: relative;
                text-transform: uppercase;
                font-size: 11px;
            }

            input.sale-detail-quantity {
                display: inline-block;
                width: 56px;
                text-align: right;
                padding: 0;
                border: 0;
                height: auto;
                box-shadow: none;
            }

            span.sale-detail-quantity {
                display: inline-block;
                width: 100%;
                text-align: right;
                padding-right: 15px;
            }
        }
    }

    .sale-detail-buttons {
        text-align: center;
        vertical-align: middle;

        > a {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .taxes-view {
        max-width: 200px;
    }
}

.sk-fading-circle {
    @spinkit-circle-count: 12;
    @spinkit-animation-duration: 1.2s;

    width: @spinkit-size;
    height: @spinkit-size;
    position: relative;

    .sk-circle {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .sk-circle:before {
        content: '';
        display: block;
        margin: 0 auto;
        width: 15%;
        height: 15%;
        background-color: @spinkit-spinner-color;
        border-radius: 100%;
        animation: sk-circleFadeDelay @spinkit-animation-duration infinite ease-in-out both;
    }

    .generate-circle(@n, @i: 2) when (@i =< @n) {
        .sk-circle-@{i} {
            transform: rotate(360deg / @spinkit-circle-count * (@i - 1));
        }
        .sk-circle-@{i}:before {
            animation-delay: -@spinkit-animation-duration + @spinkit-animation-duration / @spinkit-circle-count * (@i - 1);
        }
        .generate-circle(@n, (@i + 1));
    }
    .generate-circle(@spinkit-circle-count);
}

@keyframes sk-circleFadeDelay {
    0%, 39%, 100% {
        opacity: 0
    }
    40% {
        opacity: 1
    }
}
