@base-cell-padding: 6px;
@text-color: #526273;
@spinner-size: 120px;

.sale-view {
    position: relative;
    padding: 20px 0;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;

    &.ui-loading {
        .ui-loading-spinner {
            width: @spinner-size;
            height: @spinner-size;
            margin-top: -@spinner-size/2;
            margin-left: -@spinner-size/2;
        }
    }

    .sale-detail {
        width: 100%;

        & > tbody + tbody {
            border-top: 1px solid #ddd;
        }

        th, td {
            white-space: nowrap;
            padding: @base-cell-padding;
            line-height: 20px;
        }

        .sale-detail-number {
            color: lighten(@text-color, 30%);
        }

        .sale-detail-gross {
            color: darken(@text-color, 30%);
            font-weight: normal;
        }

        .sale-detail-total {
            color: darken(@text-color, 30%);
            font-weight: 700;
        }

        tbody {
            tr {
                background-color: transparent;

                &:hover {
                    background-color: #f5f5f5;
                }

                .sale-detail-information {
                    background: url('data:image/gif;base64,R0lGODlhGAAkAJECAJmZmQAAAP///wAAACH5BAEAAAIALAAAAAAYACQAAAIulI8Cye0PzYq0wmmzxrpH7oUMKJaKiUopSq6bW7ZwJc+f7dW4o++jn+kBD8JUAQA7') 0 0 repeat-y scroll;
                }

                &.level-0 .sale-detail-information, .sale-detail-designation > span {
                    padding-left: @base-cell-padding;
                    background-position-x: -24px;
                }

                &.level-1 .sale-detail-information, .sale-detail-designation > span {
                    padding-left: @base-cell-padding + 24px;
                }

                &.level-2 .sale-detail-information, .sale-detail-designation > span {
                    padding-left: @base-cell-padding + 48px;
                    background-position-x: 24px;
                }

                &.level-3 .sale-detail-information, .sale-detail-designation > span {
                    padding-left: @base-cell-padding + 72px;
                    background-position-x: 48px;
                }

                &.level-4 .sale-detail-information, .sale-detail-designation {
                    padding-left: @base-cell-padding + 96px;
                    background-position-x: 72px;
                }

                &.level-5 .sale-detail-information, .sale-detail-designation {
                    padding-left: @base-cell-padding + 120px;
                    background-position-x: 96px;
                }

                &.level-6 .sale-detail-information, .sale-detail-designation {
                    padding-left: @base-cell-padding + 144px;
                    background-position-x: 120px;
                }

                td, a {
                    text-overflow: ellipsis;
                    max-width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .sale-detail-designation {
                    padding: 0;
                    line-height: 18px + (2*@base-cell-padding);

                    > i {
                        display: inline-block;
                        width: 24px;
                        height: 20px + (2*@base-cell-padding);
                        float: left;
                        background-position: center center;

                        &.continue {
                            background-image: url('data:image/gif;base64,R0lGODlhGAAkAJECAJmZmQAAAP///wAAACH5BAEAAAIALAAAAAAYACQAAAIulI8Cye0PzYq0wmmzxrpH7oUMKJaKiUopSq6bW7ZwJc+f7dW4o++jn+kBD8JUAQA7');

                            &.last {
                                background-image: none;
                            }
                        }

                        &.child {
                            margin-right: 6px;
                            background-image: url('data:image/gif;base64,R0lGODlhGAAkAJECAJmZmQAAAP///wAAACH5BAEAAAIALAAAAAAYACQAAAIylI8Cye0PzYq0wmmzxrpH7oUMKJaKiUopSq7bucSw+7R0Zd+f7uW84/uNhJkg8WBMFQAAOw==');

                            &.last {
                                background-image: url('data:image/gif;base64,R0lGODlhGAAkAJECAJmZmQAAAP///wAAACH5BAEAAAIALAAAAAAYACQAAAIplI8Cye0PzYq0wmmzxrpH7oUMKJaKiUopSq7bucSwS9f2jef6zvf+XQAAOw==');
                            }
                        }
                    }

                    > span {
                        display: block;
                        padding: @base-cell-padding+2 @base-cell-padding;
                        line-height: 16px;

                        > em {
                            font-size: 11px;
                            color: lighten(@text-color, 20%);
                        }
                    }
                }

                &.sale-detail-spacer {
                    background-color: transparent;

                    td {
                        font-size: 0;
                        line-height: 0;

                    }
                }
            }

            .sale-detail-actions {
                padding: 6px 6px 0 6px;
                text-align: right;

                > a {
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    //line-height: 18px;
                    text-align: center;
                    margin-right: 2px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .sale-detail-private > td.sale-detail-designation {
                color: lighten(@text-color, 30%);

                a {
                    color: lighten(@text-color, 15%);
                }
            }

            .sale-detail-totals th {
                font-weight: 700;
                position: relative;
                text-transform: uppercase;
                font-size: 11px;
            }

            span.sale-detail-quantity {
                display: inline-block;
                width: 100%;
                text-align: right;
                padding-right: 15px;
            }

            div.sale-detail-quantity {
                input {
                    display: inline-block;
                    width: 56px;
                    text-align: right;
                    padding: 0;
                    height: auto;
                    font-size: 13px;
                }
            }
        }
    }

    .sale-detail-buttons {
        text-align: center;
        vertical-align: middle;

        > a {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .taxes-view {
        max-width: 200px;
    }
}
