@font-size: 14px;
@line-height: 18px;
@text-color: #333333;
@head-color: #999999;
@border-color: #dddddd;

@brand-primary: #337ab7;
@brand-success: #5cb85c;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;
@gray-light: #777;

@background-alt-color: #f2f2f2;
@margin: 10px;

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Open sans", Arial, sans-serif;
    font-size: @font-size;
    line-height: @line-height;
    color: @text-color;
}

#layout {
    max-width: 800px;
    margin: auto;
}

@media print {
    html,
    body {
        text-rendering: optimizeLegibility;
    }

    #layout {
        width: 100%;
        margin: 0;
    }
}

// -------------------- HEADER --------------------

header, .header-space {
    height: 70px;
}

.header-space {
    padding-bottom: 10px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px dotted @border-color;

    > h1 {
        font-variant: small-caps;
        font-weight: normal;
        color: @head-color;
        font-size: @font-size * 2;
        line-height: @font-size * 2;
        margin: 0 0 10px 0;

        strong {
            font-weight: 600;
        }

        > small {
            display: inline-block;
            margin-left: 16px;
        }
    }

    > div {
        display: flex;
        justify-content: space-between;

        > p {
            margin: 0;
        }

        > .tags {
            font-size: @font-size;
            text-align: right;
        }
    }
}

// -------------------- CONTENT --------------------

.text-right {
    text-align: right !important;
}

.label {
    display: inline-block;
    padding: 1px 6px;
    margin: 0 0 6px 6px;
    color: #fff;
    border-radius: .25em;
    text-align: center;

    &.label-default {
        background-color: @gray-light;
    }

    &.label-primary {
        background-color: @brand-primary;
    }

    &.label-success {
        background-color: @brand-success;
    }

    &.label-info {
        background-color: @brand-info;
    }

    &.label-warning {
        background-color: @brand-warning;
    }

    &.label-danger {
        background-color: @brand-danger;
    }
}

.text-default {
    color: @gray-light;
}

.text-primary {
    color: @brand-primary;
}

.text-success {
    color: @brand-success;
}

.text-info {
    color: @brand-info;
}

.text-warning {
    color: @brand-warning;
}

.text-danger {
    color: @brand-danger;
}

.note {
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    border-radius: 4px;
    color: #8a6d3b;
    margin: 0 0 10px 0;
    padding: 6px 12px;
}

.table {
    border-collapse: collapse;
    border-spacing: 3px;
    width: 100%;

    thead {
        th {
            text-transform: uppercase;
            color: @head-color;
            padding: 0 8px;
            position: relative;
            text-align: left;
            font-size: @font-size * 0.8;
            line-height: 21px !important;
            border-bottom: 1px solid @border-color;

            &:before {
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                height: 7px;
                width: 1px;
                border-left: 1px solid @border-color;
                content: "";
            }

            &:last-child:after {
                position: absolute;
                display: block;
                bottom: 0;
                right: 0;
                height: 7px;
                width: 1px;
                border-right: 1px solid @border-color;
                content: "";
            }

            &.blank {
                border-bottom: 0;
            }
        }
    }

    tbody {
        td {
            padding: 3px 6px;
            vertical-align: top;

            span.input {
                display: inline-block;
                width: 40px;
                border: 1px solid @border-color !important;
                background-color: #fff;
            }
        }

        &.stripped {
            > tr:nth-child(even) > td {
                background: @background-alt-color;
            }
        }
    }

    tr:last-child {
        td {
            border-bottom: @border-color;
        }
    }
}
