.stock-assignments {
    .table {
        margin: 0;

        > thead {
            > tr {
                > th {
                    padding: 0 5px 0 5px !important;
                    font-size: 9px;
                    line-height: 14px;
                    height: 15px;
                    background-color: #ddd;

                    &:before, &:after {
                        height: 24px;
                    }
                }
            }
        }

        > tbody {
            > tr {
                > td {
                    font-size: 12px;
                    line-height: 16px;
                    padding: 6px;
                }
            }
        }
    }
}
