{% spaceless %}
{% for form in forms %}
    {% if loop.index0 % 2 == 0 %}<div class="row">{% endif %}
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                {{ form(form, {'style': 'inline'}) }}
            </div>
        </div>
    </div>
    {% if loop.last or loop.index0 % 2 == 1 %}</div>{% endif %}
{% endfor %}
{% endspaceless %}
