{% spaceless %}
    <p class="h4 checkout-heading">
        {% set amount = sale.remainingAmount %}
        {% if 0 < sale.depositTotal and amount == sale.depositTotal %}
            {{- 'ekyna_commerce.checkout.payment.deposit_amount'|trans({
                '%amount%': amount|localizedcurrency(sale.currency.code)
            })|raw -}}
        {% else %}
            {{- 'ekyna_commerce.checkout.payment.remaining_amount'|trans({
                '%amount%': amount|localizedcurrency(sale.currency.code)
            })|raw -}}
        {% endif %}
    </p>
    {% for form in forms -%}
    <div class="panel panel-default">
        <div class="panel-body">
            {{- form(form, {'style': 'inline'}) -}}
        </div>
    </div>
    {%- endfor %}
    <script type="text/javascript">require(['ekyna-commerce/payment-forms']);</script>
{% endspaceless %}
