{% extends '@EkynaAdmin/Entity/Crud/delete.html.twig' %}

{% block title %}
    <h1>
        {{ 'supplier_delivery.header.remove'|trans({
            '%date%': resource.createdAt|format_datetime('short', 'none')
        }, 'EkynaCommerce')|raw }}
    </h1>
{% endblock title %}

{% block actions %}{% endblock actions %}
