{% extends '@EkynaAdmin/Entity/Default/remove.html.twig' %}

{% block title %}
    <h1>
        {{ 'ekyna_commerce.supplier_delivery.header.remove'|trans({
            '%date%': resource.createdAt|localizeddate('short', 'none')
        })|raw }}
    </h1>
{% endblock title %}

{% block actions %}{% endblock actions %}
