{% extends '@EkynaAdmin/Entity/Default/edit.html.twig' %}

{% block title %}
    <h1>{{ ('ekyna_commerce.' ~ (resource.credit ? 'credit' : 'invoice') ~ '.header.edit')|trans({'%name%': resource.number})|raw }}</h1>
{% endblock title %}

{% block actions %}
    {#{{ admin_resource_btn(resource, 'list') }}#}
    {#{{ admin_resource_btn(resource, 'new') }}#}
{% endblock actions %}

