{% extends "EkynaAdminBundle:Entity/Default:new.html.twig" %}

{% block title %}
    <h1>{{ ('ekyna_commerce.' ~ (resource is invoice_credit ? 'credit' : 'invoice') ~ '.header.new')|trans|raw }}</h1>
{% endblock title %}

{% block actions %}
    {#{{ admin_resource_btn(resource, 'list') }}#}
    {#{{ admin_resource_btn(resource, 'new') }}#}
{% endblock actions %}

