{% extends '@EkynaAdmin/Entity/Default/remove.html.twig' %}

{% block title %}
    <h1>{{ ('ekyna_commerce.' ~ (resource.credit ? 'credit' : 'invoice') ~ '.header.remove')|trans({'%name%': resource.number})|raw }}</h1>
{% endblock title %}

{% block actions %}
    {#{{ admin_resource_btn(resource, 'list') }}#}
    {#{{ admin_resource_btn(resource, 'new') }}#}
{% endblock actions %}

{% block side %}
    {{ parent() }}
    {% if resource.sale is not null %}
        {% include '@EkynaCommerce/Admin/Common/Sale/Side/sale.html.twig' with {'sale': resource.sale} %}
    {% endif %}
{% endblock side %}
