{% extends '@EkynaAdmin/Entity/Crud/read.html.twig' %}

{% block main_contents -%}
<div class="tab-pane active" id="supplier-template-general">
    {{ show_row(supplierTemplate.title, 'text', {
        'id': 'supplierTemplate_title',
        'label': t('field.title', [], 'EkynaUi')
    }) }}
    {{ show_row(supplierTemplate.translations, 'translations', {
        'id': 'supplierTemplate_translations',
        'fields': {
            'subject': {
                'label': t('field.subject', [], 'EkynaUi'),
                'type': 'text'
            },
            'message': {
                'label': t('field.message', [], 'EkynaUi'),
                'type': 'textarea',
                'options': {'html': true}
            },
        }
    }) }}
</div>
{%- endblock main_contents %}
