<div class="row show-row">
    <div class="col-md-2 show-label">
        {{ 'ekyna_commerce.order.field.details'|trans }}
    </div>
    <div class="col-md-10">
        <div class="show-widget show-widget-block">
            {{ render_sale_view(order) }}
        </div>
    </div>
</div>
