{% extends "EkynaCommerceBundle:Admin/Common/Sale:show_general.html.twig" %}

{% block customer %}
    <div class="row">
        <div class="col-md-6">
            {% if sale.customer is not same as (null) %}
                {{ show_row(sale.customer|identity, 'entity', 'ekyna_commerce.customer.label.singular', {
                    'id': 'sale_customer',
                    'route': 'ekyna_commerce_customer_admin_show',
                    'route_params': {'customerId': sale.customer.id},
                    'label_nb_col': 4,
                    'widget_nb_col': 8
                }) }}
            {% else %}
                {{ show_row(null, 'text', 'ekyna_commerce.customer.label.singular', {
                    'id': 'sale_customer',
                    'label_nb_col': 4,
                    'widget_nb_col': 8
                }) }}
            {% endif %}
        </div>
        <div class="col-md-6">
            {{ show_row(sale.inCharge, 'entity', 'ekyna_commerce.customer.field.in_charge', {
                'id': 'sale_user',
                'route': 'ekyna_user_user_admin_show',
                'route_params_map': {'userId': 'id'},
                'field': 'username',
                'label_nb_col': 4,
                'widget_nb_col': 8
            }) }}
        </div>
    </div>
{% endblock customer %}
