{% extends '@EkynaAdmin/Entity/Default/edit.html.twig' %}

{% block title %}
    <h1>{{ 'ekyna_commerce.order.header.duplicate'|trans({'%number%': order.number})|raw }}</h1>
{% endblock title %}

{% block main %}
    {{ form_start(form) }}
    {% include '@EkynaCommerce/Admin/Order/_form.html.twig' %}
    {{ form_end(form) }}
{% endblock main %}
