{% extends "EkynaAdminBundle:Entity/Default:remove.html.twig" %}

{% block title %}
    <h1>{{ 'ekyna_commerce.order.header.transform'|trans({'%number%': order.number})|raw }}</h1>
{% endblock title %}
