{% extends '@EkynaAdmin/Entity/Default/edit.html.twig' %}

{% block title %}
    <h1>{{ 'ekyna_commerce.order.header.transform'|trans({
        '%number%': order.number,
        '%target%': ('ekyna_commerce.' ~ target ~ '.label.singular')|trans|lower
    })|raw }}</h1>
{% endblock title %}

{% block main %}
    {{ form_start(form) }}
    {% include '@EkynaCommerce/Admin/Common/Sale/_form_transform.html.twig' %}
    {{ form_end(form) }}
{% endblock main %}
