{% macro new_product_button() %}
<div class="btn-group btn-group-sm">
    <a href="{{ admin_resource_path('ekyna_commerce.product', 'new', {'type': get_product_types()|first}) }}"
       class="btn btn-primary">
        {{ 'ekyna_commerce.product.button.new'|trans }}
    </a>
    <button type="button" class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
        {% for type in get_product_types() %}
            <li>
                <a href="{{ admin_resource_path('ekyna_commerce.product', 'new', {'type': type}) }}">
                    {{ type|product_type_label|trans }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endmacro %}
