{% extends '@EkynaCommerce/Account/layout.html.twig' %}

{% block account %}
{% apply spaceless %}

    {% include '@EkynaCommerce/Account/Address/_list.html.twig' %}

    <hr>

    <p>
        <a href="{{ path('ekyna_commerce_account_address_add') }}" class="btn btn-sm btn-primary">
            {{ 'ekyna_commerce.account.address.add.title'|trans }}
        </a>
    </p>

    {% if parent_addresses is defined and parent_addresses is not empty %}
        <br><br>
        {% include '@EkynaCommerce/Account/Address/_list.html.twig' with {
            'title': 'ekyna_commerce.account.address.parent_title',
            'addresses': parent_addresses,
            'buttons': false
        } %}
    {% endif %}

{% endapply %}
{% endblock account %}
