.commerce-configurable-slot {
  overflow: hidden;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #dddddd;
}
.commerce-configurable-slot .slot-info {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px dotted #dddddd;
}
.commerce-configurable-slot .choices {
  overflow: hidden;
  position: relative;
  min-height: 300px;
}
.commerce-configurable-slot .choices > a {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15%;
  min-width: 40px;
  z-index: 99;
  color: #bfbfbf;
}
.commerce-configurable-slot .choices > a:hover {
  color: #7f7f7f;
}
.commerce-configurable-slot .choices > a.prev {
  left: 0;
}
.commerce-configurable-slot .choices > a.next {
  right: 0;
}
.commerce-configurable-slot .choices > a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 24px;
}
.commerce-configurable-slot .choices > ul {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.commerce-configurable-slot .choices > ul > li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.commerce-configurable-slot .choices > ul > li:first-child {
  position: relative;
  display: block;
  float: left;
}
.commerce-configurable-slot .choices > ul > li img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
.commerce-configurable-slot .choices > ul > li p {
  display: none;
}
