{% extends '@EkynaAdmin/Entity/Crud/_form_default.html.twig' %}

{% block main_contents -%}
    <div class="tab-pane active" id="{{ resource_name }}-general">
        {% include '@EkynaCommerce/Admin/SupplierOrder/Form/general.html.twig' %}
    </div>
{% endblock main_contents -%}
