{% extends '@EkynaAdmin/Entity/Crud/_form_default.html.twig' %}

{% block main_contents -%}
    <div class="tab-pane active" id="{{ resource_name }}-general">
        {{ form_row(form.name) }}
        {{ form_row(form.countries) }}
        <hr>
        {{ form_row(form.pricing) }}
    </div>
{%- endblock main_contents %}
