{% extends '@EkynaAdmin/Entity/Default/edit.html.twig' %}

{% block title %}
    <h1>{{ 'ekyna_commerce.quote.header.transform'|trans({'%number%': quote.number})|raw }}</h1>
{% endblock title %}

{% block main %}
    {{ form_start(form) }}
    {% include '@EkynaCommerce/Admin/Common/Sale/_form_transform.html.twig' %}
    {{ form_end(form) }}
{% endblock main %}
