{% extends "EkynaAdminBundle:Entity/Default:edit.html.twig" %}

{% block title %}
    <h1>{{ 'ekyna_commerce.quote.header.transform'|trans({'%number%': quote.number})|raw }}</h1>
{% endblock title %}
