{% extends '@EkynaCommerce/Account/layout.html.twig' %}

{% block account %}
{% apply spaceless %}
    <h3>{{ 'account.order.title'|trans({}, 'EkynaCommerce')|raw }}</h3>
    <hr>
    {% include '@EkynaCommerce/Account/Order/_list.html.twig' with {
        'orders': orders, 'customer': customer
    } only %}
{% endapply %}
{% endblock account %}
