{% extends "email.html.twig" %}

{% block subject %}
    {{ 'customer.notify.fraudster.subject'|trans({}, 'EkynaCommerce') }}
{% endblock subject %}

{% block body %}
    <p>
        {{ 'customer.notify.fraudster.message'|trans({
            '{identity}': (customer.company is not empty ? (customer.company ~ ' ') : '') ~ customer|identity
        }, 'EkynaCommerce')|raw }}
    </p>
    <p style="text-align: center;">
        <a href="{{ absolute_url(admin_resource_path(customer)) }}">
            {{ 'customer.notify.admin_link'|trans({}, 'EkynaCommerce') }}
        </a>
    </p>
{% endblock body %}
