{% extends "email.html.twig" %}

{% block subject %}
    {{ 'ekyna_commerce.customer.notify.fraudster.subject'|trans }}
{% endblock subject %}

{% block body %}
    <p>
        {{ 'ekyna_commerce.customer.notify.fraudster.message'|trans({
            '{identity}': (customer.company is not empty ? (customer.company ~ ' ') : '') ~ customer|identity
        })|raw }}
    </p>
    <p style="text-align: center;">
        <a href="{{ url('ekyna_commerce_customer_admin_show', {'customerId': customer.id}) }}">
            {{ 'ekyna_commerce.customer.notify.admin_link'|trans }}
        </a>
    </p>

{% endblock body %}
