{% extends "EkynaAdminBundle:Entity/Default:remove.html.twig" %}

{% block title %}
    <h1>{{ 'ekyna_commerce.sale.header.adjustment.remove'|trans|raw }}</h1>
{% endblock title %}

{% block actions %}
    {#{{ admin_resource_btn(resource, 'list') }}#}
    {#{{ admin_resource_btn(resource, 'new') }}#}
{% endblock actions %}
