ekyna_commerce_cart_widget:
    path: /widget
    defaults:
        _controller: "ekyna_commerce.controller.cart:widgetAction"
    methods: [GET]

ekyna_commerce_cart_item_configure:
    path: /items/{itemId}/configure
    defaults: { _controller: "ekyna_commerce.controller.cart:itemConfigureAction" }
    methods: [GET, POST]
    requirements:
        itemId: \d+

ekyna_commerce_cart_item_remove:
    path: /items/{itemId}/remove
    defaults: { _controller: "ekyna_commerce.controller.cart:itemRemoveAction" }
    methods: [POST]
    requirements:
        itemId: \d+

ekyna_commerce_cart_item_adjustment_remove:
    path: /items/{itemId}/adjustments/{adjustmentId}/remove
    defaults: { _controller: "ekyna_commerce.controller.cart:itemAdjustmentRemoveAction" }
    methods: [POST]
    requirements:
        itemId: \d+
        adjustmentId: \d+

ekyna_commerce_cart_adjustment_remove:
    path: /adjustments/{adjustmentId}/remove
    defaults: { _controller: "ekyna_commerce.controller.cart:adjustmentRemoveAction" }
    methods: [POST]
    requirements:
        adjustmentId: \d+

ekyna_commerce_cart_attachment_add:
    path: /attachments/add
    defaults: { _controller: "ekyna_commerce.controller.cart:attachmentAddAction" }
    methods: [GET, POST]

ekyna_commerce_cart_attachment_remove:
    path: /attachments/{attachmentId}/remove
    defaults: { _controller: "ekyna_commerce.controller.cart:attachmentRemoveAction" }
    methods: [POST]
    requirements:
        adjustmentId: \d+

ekyna_commerce_cart_attachment_download:
    path: /attachments/{attachmentId}/download
    defaults: { _controller: "ekyna_commerce.controller.cart:attachmentDownloadAction" }
    methods: [GET]
    requirements:
        adjustmentId: \d+

ekyna_commerce_cart_information:
    path: /information
    defaults: { _controller: "ekyna_commerce.controller.cart:informationAction" }
    methods: [GET, POST]

ekyna_commerce_cart_invoice_address:
    path: /invoice-address
    defaults: { _controller: "ekyna_commerce.controller.cart:invoiceAddressAction" }
    methods: [GET, POST]

ekyna_commerce_cart_delivery_address:
    path: /delivery-address
    defaults: { _controller: "ekyna_commerce.controller.cart:deliveryAddressAction" }
    methods: [GET, POST]

ekyna_commerce_cart_comment:
    path: /comment
    defaults: { _controller: "ekyna_commerce.controller.cart:commentAction" }
    methods: [GET, POST]
