{% extends '@EkynaCommerce/Account/layout.html.twig' %}

{% block content %}
{% spaceless %}
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="user-account-content">
                {{ cms_title('h3') }}
                {{ cms_content() }}
                <hr>
                {% include '@EkynaCommerce/Account/Registration/register_content.html.twig' %}
            </div>
        </div>
    </div>
{% endspaceless %}
{% endblock content %}
