<div class="row">
    <div class="col-md-3">
        {{ show_row(sale.invoiceState|invoice_state_badge, 'text', {
            'label': 'sale.field.invoice_state',
            'label_trans_domain': 'EkynaCommerce',
            'class': 'sale-invoice-state',
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-3">
        {{ show_row(sale.paidTotal, 'commerce_amount', {
            'label': 'sale.field.paid_total',
            'label_trans_domain': 'EkynaCommerce',
            'class': 'sale-paid-total',
            'subject': sale,
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-3">
        {{ show_row(sale.invoiceTotal, 'commerce_amount', {
            'label': 'sale.field.invoice_total',
            'label_trans_domain': 'EkynaCommerce',
            'class': 'sale-invoice-total',
            'subject': sale,
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-3">
        {{ show_row(sale.creditTotal, 'commerce_amount', {
            'label': 'sale.field.credit_total',
            'label_trans_domain': 'EkynaCommerce',
            'class': 'sale-credit-total',
            'subject': sale,
            'label_col': 6
        }) }}
    </div>
</div>
