<div class="row">
    <div class="col-md-3">
        {{ show_row(sale.invoiceState|invoice_state_badge, 'text', {
            'label': 'ekyna_commerce.sale.field.invoice_state',
            'class': 'sale-invoice-state',
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-3">
        {{ show_row(sale.grandTotal|localizedcurrency(sale.currency.code), 'text', {
            'label': 'ekyna_commerce.sale.field.ati_total',
            'class': 'sale-grand-total',
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-3">
        {{ show_row(sale.invoiceTotal|localizedcurrency(sale.currency.code), 'text', {
            'label': 'ekyna_commerce.sale.field.invoice_total',
            'class': 'sale-invoice-total',
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-3">
        {{ show_row(sale.creditTotal|localizedcurrency(sale.currency.code), 'text', {
            'label': 'ekyna_commerce.sale.field.credit_total',
            'class': 'sale-credit-total',
            'label_col': 6
        }) }}
    </div>
</div>
