<div class="row">
    <div class="col-md-3">
        {{ show_row(sale.invoiceState|invoice_state_badge, 'text', 'ekyna_commerce.sale.field.invoice_state', {
            'class': 'sale-invoice-state',
            'label_nb_col': 6,
            'widget_nb_col': 6
        }) }}
    </div>
    <div class="col-md-3">
        {{ show_row(sale.grandTotal|localizedcurrency(sale.currency.code), 'text', 'ekyna_commerce.sale.field.grand_total', {
            'class': 'sale-grand-total',
            'label_nb_col': 6,
            'widget_nb_col': 6
        }) }}
    </div>
    <div class="col-md-3">
        {{ show_row(sale.invoiceTotal|localizedcurrency(sale.currency.code), 'text', 'ekyna_commerce.sale.field.invoice_total', {
            'class': 'sale-invoice-total',
            'label_nb_col': 6,
            'widget_nb_col': 6
        }) }}
    </div>
    <div class="col-md-3">
        {{ show_row(sale.creditTotal|localizedcurrency(sale.currency.code), 'text', 'ekyna_commerce.sale.field.credit_total', {
            'class': 'sale-credit-total',
            'label_nb_col': 6,
            'widget_nb_col': 6
        }) }}
    </div>
</div>
