<div class="row">
    <div class="col-md-4">
        {{ show_row(sale.shipmentState|shipment_state_badge, 'text', {
            'label': 'ekyna_commerce.sale.field.shipment_state',
            'class': 'sale-shipment-state',
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale.shipmentMethod, 'entity', {
            'label': 'ekyna_commerce.shipment_method.label.singular',
            'id': 'sale_shipmentMethod',
            'class': 'sale-shipment-method',
            'route': 'ekyna_commerce_shipment_method_admin_show',
            'route_parameters_map': {'shipmentMethodId': 'id'},
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale.weightTotal, 'number', {
            'label': 'ekyna_commerce.sale.field.weight_total',
            'class': 'sale-weight-total',
            'append': 'kg',
            'label_col': 6
        }) }}
    </div>
</div>
