<div class="row">
    <div class="col-md-4">
        {{ show_row(sale.shipmentState|shipment_state_badge, 'text', {
            'label': 'sale.field.shipment_state',
            'label_trans_domain': 'EkynaCommerce',
            'class': 'sale-shipment-state',
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale.shipmentMethod, 'resource', {
            'id': 'sale_shipmentMethod',
            'class': 'sale-shipment-method',
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale.weightTotal, 'number', {
            'label': 'sale.field.weight_total',
            'label_trans_domain': 'EkynaCommerce',
            'class': 'sale-weight-total',
            'append': 'kg',
            'label_col': 6
        }) }}
    </div>
</div>
