{% extends "EkynaCommerceBundle:Account:layout.html.twig" %}

{% block account %}
    <h3>Mes devis</h3>
    <hr>
    <p>
        TODO {# TODO #}
        
        + recherche par n° de bon d'achat (client / pdf)
    </p>
{% endblock account %}
