{% extends '@EkynaCommerce/Account/layout.html.twig' %}

{% block account %}
{% apply spaceless %}
    <h3>{{ 'ekyna_commerce.account.quote.title'|trans|raw }}</h3>
    <hr>
    {% include '@EkynaCommerce/Account/Quote/_list.html.twig' with {
        'quotes': quotes, 'customer': customer
    } only %}
{% endapply %}
{% endblock account %}
