<p class="lead">
    {{- 'account.welcome.title'|trans({'%identity%': customer|identity(false)}, 'EkynaCommerce') -}}
</p>
<div style="margin-bottom: 20px">
    {{- cms_block('commerce_account_welcome', null, {'default_content': '<p>&nbsp;</p>'}) -}}
</div>
