<div class="form-body">
    {{- bootstrap_set_style('horizontal') -}}
    {{- bootstrap_set_col_size('sm') -}}

    {{ form_widget(form) }}
    {{ form_rest(form) }}

    {% include 'EkynaAdminBundle:Form:form_flow_buttons.html.twig' %}
</div>
