{% extends '@EkynaAdmin/Entity/Crud/create.html.twig' %}

{% block title %}
    <h1>{{ 'sale.header.item.add'|trans({}, 'EkynaCommerce')|raw }}</h1>
{% endblock title %}

{% block actions %}{% endblock actions %}

{% block main %}
    {% include '@EkynaCommerce/Admin/Common/Item/_flow.html.twig' %}
{% endblock main %}
