{% extends '@EkynaAdmin/Entity/Default/new.html.twig' %}

{% block title %}
    <h1>{{ 'ekyna_commerce.sale.header.item.add'|trans|raw }}</h1>
{% endblock title %}

{% block actions %}
    {#{{ admin_resource_btn(resource, 'list') }}
    {{ admin_resource_btn(resource, 'new') }}#}
{% endblock actions %}

{% block main %}
    {% include '@EkynaCommerce/Admin/Common/Item/_flow.html.twig' %}
{% endblock main %}
