{% extends '@EkynaAdmin/Entity/Crud/update.html.twig' %}

{% set resource = context.resource %}

{% block title %}
    <h1>{{ 'sale.header.item.configure'|trans({}, 'EkynaCommerce')|raw }}</h1>
{% endblock title %}

{% block actions %}{% endblock actions %}
