{% extends '@EkynaAdmin/Entity/Crud/read.html.twig' %}

{% block main_contents -%}
    <div class="tab-pane active" id="{{ resource_name }}-general">
        <div class="row">
            <div class="col-md-6">
                {{ show_row(currency.name, 'text', {
                    'label': 'field.name',
                    'label_trans_domain': 'EkynaUi',
                    'label_col': 4
                }) }}
            </div>
            <div class="col-md-6">
                {{ show_row(currency.code, 'text', {
                    'label': 'field.code',
                    'label_trans_domain': 'EkynaUi',
                    'label_col': 4
                }) }}
            </div>
        </div>
        {{ show_row(currency.enabled, 'boolean', {
            'label': 'field.enabled',
            'label_trans_domain': 'EkynaUi'
        }) }}
    </div>
{%- endblock main_contents %}
