{% extends '@EkynaAdmin/Entity/Crud/create.html.twig' %}

{% block title %}
    <h1>{{ 'attachment.header.new'|trans({}, 'EkynaCommerce')|raw }}</h1>
{% endblock title %}

{% block actions %}{% endblock actions %}
