{% extends '@EkynaAdmin/Entity/Crud/update.html.twig' %}

{% block title %}
    <h1>{{ 'attachment.header.edit'|trans({}, 'EkynaCommerce')|raw }}</h1>
{% endblock title %}

{% block actions %}{% endblock actions %}
