form #order_items table,
form #order_items p {
    margin-bottom: 0;
}

form #order_items table>tbody>tr:first-child>td {
    border-top: none;
}

form #order_items table .ekyna-sale-item-children {
    padding: 0;
}

form #order_items table .ekyna-sale-item-children > div {
    padding-left: 10px;
}

form #order_items table .ekyna-sale-item-children > div > p {
    padding: 7px 8px;

}

form #order_items table .ekyna-sale-item {
    border: 1px dotted #999;
}

form #order_items table .ekyna-sale-item .ekyna-sale-item {
    border: 1px dashed #666;
}
